<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Danylo\Blog\Api\Data\PostInterface" type="Danylo\Blog\Model\Post" />
    <preference for="Danylo\Blog\Api\PostRepositoryInterface" type="Danylo\Blog\Repository\PostRepository" />
</config>
